@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ClassLibrary1.Models.Proizvod

<div> Uredi Jelovnik</div>
<form id="jelovnikFormm" asp-controller="Jelovnik" asp-action="SpasiUredi" method="post">
    @Html.HiddenFor(model => model.ProizvodID);
    @Html.AntiForgeryToken()
    <div class="editor-label">
        <div class="col-md-12 form-group">
            @Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="editor-label">
        <div class="col-md-12 form-group">
            @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="editor-label">
        <div class="col-md-12 form-group">
            @Html.LabelFor(model => model.Cijena, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Cijena, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="editor-label">
        <div class="col-md-12 form-group">
            @Html.LabelFor(model => model.TipProizvodaID, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.TipProizvodaID, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Spasi" data-save="modal">
        </div>
    </div>

</form>

